asgiref @ file:///opt/conda/conda-bld/asgiref_1661287532135/work
brotlipy==0.7.0
certifi @ file:///croot/certifi_1665076670883/work/certifi
cffi @ file:///tmp/abs_98z5h56wf8/croots/recipe/cffi_1659598650955/work
cryptography @ file:///tmp/build/80754af9/cryptography_1652101588599/work
dj-database-url==1.0.0
dj-static==0.0.6
Django @ file:///opt/conda/conda-bld/django_1661296381686/work
idna @ file:///croot/idna_1666125576474/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
python-decouple==3.6
selenium @ file:///home/builder/ci_310/selenium_1640794525077/work
sqlparse @ file:///tmp/build/80754af9/sqlparse_1602184451250/work
static3==0.7.0
urllib3 @ file:///croot/urllib3_1666298941550/work
gunicorn==20.1.0
psycopg2-binary==2.9.5